/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #737373;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  width: 800px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

header h1 {
  font-size: 3em;
  letter-spacing: 5px;
}

header button {
  padding: 10px 20px;
  font-size: 1em;
}

nav {
  margin-bottom: 20px;
}

nav button {
  padding: 10px 20px;
  font-size: 1em;
  margin: 0 10px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pong-table {
  position: relative;
  width: 800px;
  height: 400px;
  background-color: black;
}

.paddle {
  position: absolute;
  width: 10px;
  height: 100px;
  background-color: white;
}

.paddle.left {
  left: 0;
  top: calc(50% - 50px);
}

.paddle.right {
  right: 0;
  top: calc(50% - 50px);
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
} */

body {
  --nav-width: 200px;
  margin: 0 0 0 var(--nav-width);
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--nav-width);
  height: 100vh;
  background: #222222;
}

.nav__link {
  display: block;
  padding: 12px 18px;
  text-decoration: none;
  color: #eeeeee;
  font-weight: 500;
}

.nav__link:hover {
  background: rgba(255, 255, 255, 0.05);
}

#app {
  margin: 2em;
  line-height: 1.5;
  font-weight: 500;
}

a {
  color: #009579;
}