.game-area {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 400px;
	background-color: #000;
	margin: 0 auto;
	width: 80%;
  }
  
  .paddle {
	width: 10px;
	height: 60px;
	background-color: white;
  }
  
  .left-paddle {
	align-self: flex-start;
  }
  
  .right-paddle {
	align-self: flex-end;
  }
  
  .ball {
	width: 15px;
	height: 15px;
	background-color: white;
	border-radius: 50%;
  }
  